/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
	 */


	 * { margin: 0; padding: 0; }
	 body { font: 14px Georgia, serif; }

	 table, th, td {
	 	border: 1px solid black;
	 }
	 table{

	 	text-align: center;
	    font-weight: 500;
	 }

	 tr.even{
	 	background-color: #E8E4E7;
	 }

	 /* So you can drag around (drawing) in the table without selection color annoyance */
	 /* Unfortunately didn't seem to work when applied ONLY to #drawing-table (at least in Firefox) */
	 ::selection { background: transparent; }
	 ::-moz-selection { background: transparent; }

	 h1 { font: bold 32px Helvetica, Arial, Sans-Serif; letter-spacing: -1px; margin: 0 0 5px 0; }
	 #page-wrap > p { margin: 0 0 10px 0; }

	 #page-wrap { width: 960px; margin: 60px auto; }

	 #drawing-table { width: 530px; height: 60px; border-collapse: collapse;text-align: center;font-family: calibri;font-size: 15px }
	 #drawing-table td { border: 1px dotted #ccc; }

	 #controls { width: 400px; float: right; }
	 #controls fieldset { padding: 20px; border: 1px solid #ccc; margin: 0 0 20px 0; }
	 #controls legend { border: 1px solid #ccc; background: white; padding: 2px 8px; }

	 #gridSize { margin: 0 0 10px 0; }
	 #clear { float: right; }

	 #color-selector p { clear: both; }

	 .color { float: left; position: relative;  border: 3px solid #ccc; margin: 0 20px 40px 0; width: 50px; height: 50px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
	 .red { background: red; }
	 .green { background: green; }
	 .blue { background: blue; }
	 .yellow { background: yellow; }
	 .pink { background: pink; }
	 .color input { position: absolute; top: 60px; left: 20px; width: 14px; height: 14px; background: url(../images/colordot.png) no-repeat; border: 0; }
	 .colorpicker_submit { color: white; }
	 .colorpicker { z-index: 20; }

	 .selected { border: 3px solid black; }

	 #table-wrap { position: relative; width: 500px; }
	 #table-wrap table { position: relative; z-index: 10; }

	 #toggle-tracing-mode { display: none; }

	 #html-wrap textarea { width: 100%; height: 50px; overflow: auto; margin: 0 0 10px 0; }

	 .ml-anno {
	 	display: block;
	 	text-align: center;
	 	font-weight: 700;
	 	font-size: x-large;
	 	background: -moz-linear-gradient(45deg, #ff1493 0%, #ffff00 25%, #00ffff 50%, #ffff00 75%, #ff1493 100%); /* ff3.6+ */
	 	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ff1493), color-stop(25%, #ffff00), color-stop(50%, #00ffff), color-stop(75%, #ffff00), color-stop(100%, #ff1493)); /* safari4+,chrome */
	 	background: -webkit-linear-gradient(45deg, #ff1493 0%, #ffff00 25%, #00ffff 50%, #ffff00 75%, #ff1493 100%); /* safari5.1+,chrome10+ */
	 	background: -o-linear-gradient(45deg, #ff1493 0%, #ffff00 25%, #00ffff 50%, #ffff00 75%, #ff1493 100%); /* opera 11.10+ */
	 	background: -ms-linear-gradient(45deg, #ff1493 0%, #ffff00 25%, #00ffff 50%, #ffff00 75%, #ff1493 100%); /* ie10+ */
	 	background: linear-gradient(45deg, #ff1493 0%, #ffff00 25%, #00ffff 50%, #ffff00 75%, #ff1493 100%); /* w3c */
	 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1493', endColorstr='#ff1493',GradientType=1 ); /* ie6-9 */
	 	background-size: 200% auto;
	 	margin: 25px 10px 10px;
	 	line-height:30px;
	 	color: #0000ff;
	 	animation: shine 2s linear infinite;
	 }
	 @keyframes shine{to{background-position:200% center}}
